@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');


html {
  background: black;
}
nav {
  font-family: 'Saira', sans-serif;
  font-size: 1rem;
  background: black;
}

h1, h2 {
  font-family: 'Saira Stencil One', cursive;
  color: #1af0dc;
  margin: 4rem 2rem;
}
