@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

body {
  margin: 0;
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Mitr', sans-serif;
}
#root {
  background: black;
}