
.icons {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}
.iconContainer {
    background: radial-gradient(circle, rgba(255,255,255,0.7483368347338936) 0%, rgba(0,230,255,0.6923144257703081) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.effect15 {
    margin: 1rem 0;
}
.row {
    display: flex;
    justify-content: space-around;
}
h3 {
    text-align: center;
}
.title {
    display: none;
}

@media (max-width: 768px) {
    .title{
        text-align: center;
        display: block;
    }
}